@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CaslonAntique";
    src: url('/fonts/CaslonAntique.woff2') format('woff2');
    font-display: swap;
  }
}

@layer utilities {
  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }

  .floating {
    max-width: calc(100vw - 16);
  }

  .fade-in {
    animation: fadeIn 0.35s;
    -webkit-animation: fadeIn 0.35s;
    -moz-animation: fadeIn 0.35s;
    -o-animation: fadeIn 0.35s;
    -ms-animation: fadeIn 0.35s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .text-shadow {
    text-shadow: 2px 2px 16px black;
  }
  .text-shadow-md {
    text-shadow: 8px 8px 16px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}
